@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}
 body {
 	background-color: #101238;
 	/*background: url(../images/show.jpg) no-repeat;*/
 	font-family: 'Monoton', Helvetica, sans-serif; 
 	
 }

header {
	  width: 1367px;
	  height: 769px;
      background: url(../images/show.jpg);
      margin: 0 auto;

}
 header h1 {
 	font-size:56px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-transform: uppercase;
 	text-align: center;
 	padding-top: 220px;
 	/*font-weight: bold;*/
 }

 #images {
 	  display: flex;
	  flex-direction: row;
	  justify-content: flex-start;
   
 }

 #img1 {
 	width: 384px;
 	height: 298;
 	margin-left: 50px;
 	margin-top: 150px;
 	/*position: absolute;*/
 }

#img2 {
	width: 281px;
	height: 254px;
	margin-top: 145px;
	margin-left: 20px;
	
}

#img3 {
	width: 167px;
	height: 355px;
	margin-top: 75px;
	margin-left: 20px;
}
#img4 {
	width: 192px;
	height: 290px;
	margin-top: 125px;
	margin-left: 20px;
}
section {
	margin: 0 auto;
	height: 624px;
	width: 1370px;
	background: #192d55; /* Old browsers */
background: -moz-linear-gradient(top, #192d55 0%, #b75fa4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #192d55 0%,#b75fa4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #192d55 0%,#b75fa4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192d55', endColorstr='#b75fa4',GradientType=0 ); /* IE6-9 */
}

#icons {
      display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin-left: 220px;
	  margin-right: 240px;
	  padding-top: 20px;
}

#iconimg1 {
	width: 90px;
	height: 90px;
	border: 3px dashed #e91989;
	border-radius: 50%;
}


#iconimg2 {
	width: 90px;
	height: 90px;
	border: 3px dashed #e91989;
	border-radius: 50%;
}

#iconimg3 {
	width: 90px;
	height: 90px;
	border: 3px dashed #e91989;
	border-radius: 50%;
}

#iconimg4 {
	width: 90px;
	height: 90px;
	border: 3px dashed #e91989;
	border-radius: 50%;


}
.shadowRoll:hover{
	-webkit-filter: drop-shadow( 0px 0px 8px rgba(225, 225, 0, .8));
 	 filter: drop-shadow( 0px 0px 8px rgba(225, 225, 0, .8));
}
/*.icon{
	animation: roll 3s infinite;
   	transform: rotate(30deg);
}*/

.shadowRoll:active{
	animation: roll 3s infinite;
   	transform: rotate(30deg);
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#choose {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  margin-left: 220px;
	  margin-right: 220px;
}

#play h2 {
	font-size:32px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-align: center;
 	/*font-weight: bold;*/
 	margin-top: 20px;
}

#guitar h3 {
    font-size: 20px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-align: center;
 	/*font-weight: bold;*/
 	margin-top: 25px;
 	margin-bottom: 15px;
}

#guitar img {
	width: 79px;
	height: 79px;
	
}

#guitarImg1 {
	margin-top: 5px;
}

#guitarImg2 {
	margin-top: 5px;
}
#Drums h3 {
	font-size:20px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-align: center;
 	/*font-weight: bold;*/
 	margin-top: 25px;
 	margin-bottom: 15px;

}

#Drums img {
	width: 79px;
	height: 79px;
	
}

#drumsImg1 {
	margin-top: 5px;
}

#drumsImg2 {
	margin-top: 5px;
}

#voice h3 {
	font-size: 20px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-align: center;
 	/*font-weight: bold;*/
 	margin-top: 25px;
 	margin-bottom: 15px;
}

#voice img {
	width: 79px;
	height: 79px;
	
}

#voiceImg1 {
	margin-top: 5px;
}

#voiceImg2 {
	margin-top: 5px;
}

#keyboard h3 {
	font-size: 20px;
 	/*font-family: sans-serif;*/
 	color: #e8af45;
 	text-align: center;
 	/*font-weight: bold;*/
 	margin-top: 25px;
 	margin-bottom: 15px;
 	margin-left: -18px;

}

#keyboard img {
	width: 79px;
	height: 79px;
	
}

#keyboardImg1 {
	margin-top: 5px;
}

#keyboardImg2 {
	margin-top: 5px;
}
